<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Indica a Hibernate di utilizzare il DataSource configurato in Tomcat -->
        <property name="hibernate.connection.datasource">java:/comp/env/jdbc/MyLocalDB</property>

        <!-- Dialect per Oracle -->
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle12cDialect</property>
        
         <!-- Modalità create database -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Mapping delle entità -->
        <mapping resource="User.hbm.xml"/>
        <mapping resource="Member.hbm.xml"/>
        <mapping resource="UserMemberStats.hbm.xml"/>
        <mapping resource="Simulation.hbm.xml"/>
        <mapping resource="SimulationParticipant.hbm.xml"/>
        <mapping resource="Mission.hbm.xml"/>
        <mapping resource="MissionArchive.hbm.xml"/>
        <mapping resource="MissionParticipants.hbm.xml"/>
        
    </session-factory>
</hibernate-configuration>